<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="static/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<!--stuff-->
		<h1>Night of the Living Zucks</h1>
		<p>are you ready to face your fear of the zuck supreme? good luck...</p>
		<hr>
		<h2>how to play</h2>
		<p>to play, interact with buttons</p>
		<p>if a code is asked for, enter it in after the last "/" in the url bar...</p>
		<p>if you are correct, it will tell you</p>
		<p>good luck!</p>
		<hr>
		<h2>Actions</h2>
			<div class="actions">
				<p><a class="action" href="/mxbcjqm7">Begin</a></p>
			</div>
	</body>
</html>