<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="static/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<!--stuff-->
		<h1>Living room</h1>
		<p>you stand in the center of a fairly nice living room. in front of you there is a mahogany door that is locked. </p>
		<p>to the left there is a sus lookin painting.  </p>
		<p>To the right, there is a glass sliding door leading out to a balcony. </p>
		<p>Behind you is a plastic, bananna-yellow door. it has a microphone and speaker embedded into it. </p>
		<hr>
		<h2>Actions</h2>
			<div class="actions">
				<p><a class="action" href="/jg8mg9jq">mahogany door</a></p>
				<p><a class="action" href="/urjxrku1">painting sus...</a></p>
				<p><a class="action" href="/hu8miaw3">sliding door</a></p>
				<p><a class="action" href="/w5wn5lk4">yellow door</a></p>
				<p><a class="action" href="/tqiwpjs0">wait around for no reason</a></p>
			</div>
	</body>
</html>