<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="static/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<!--stuff-->
		<h1>balcony</h1>
		<p>you walk out onto the balcony</p>
		<p>you are a few stories up but (maybe?) you could make it</p>
		<p>on ther rail, there is a duck, (the rubber variant)</p>
		<hr>
		<h2>Actions</h2>
			<div class="actions">
				<p><a class="action" href="/p024ygql">jump</a></p>
				<p><a class="action" href="/ayzdx0ah">check out the duck</a></p>
				<p><a class="action" href="/mxbcjqm7">return</a></p>
			</div>
	</body>
</html>