<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="static/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<!--stuff-->
		<h1>bedroom</h1>
		<p>after getting past the yellow door you stand in the middle of a bedroom</p>
		<p>to your left, there is a closet door</p>
		<p>to your right, there is a crack in the drywall</p>
		<p>in front, there is a bed and a dresser beside</p>
		<hr>
		<h2>Actions</h2>
			<div class="actions">
				<p><a class="action" href="/edhx16r0">closet</a></p>
				<p><a class="action" href="/7gyyhnvf">bed and dresser</a></p>
				<p><a class="action" href="/j6kotm8e">crack</a></p>
				<p><a class="action" href="/mxbcjqm7">back</a></p>
			</div>
	</body>
</html>