<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="static/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<!--stuff-->
		<h1>closet</h1>
		<p>you open the closet door, </p>
		<p>inside the closet, there is a skeleton sitting on the floor</p>
		<p>it is holding a note</p>
		<hr>
		<h2>Actions</h2>
			<div class="actions">
				<p><a class="action" href="/9jpqwd9t">read note</a></p>
				<p><a class="action" href="/jimmy">back</a></p>
			</div>
	</body>
</html>